<p-card header="Sales per Month">
    <p class="m-0">
        Lorem ipsum dolor sit amet...
    </p>
</p-card>

<p-card header="Customers per Day">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet...
    </p>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
            <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
    </ng-template>
</p-card>