<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>price</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.Id }}</td>
            <td>{{ product.Name }}</td>
            <td>{{ product.Price }}</td>
            <td>
                <button class="btn btn-warning" title="edit" (click)="gotoEditProduct(product.Id)"><i class="pi pi-pencil"></i></button>
                <button class="btn btn-danger" title="delete" (click)="deleteProduct(product.Id)"><i class="pi pi-trash"></i></button>
                @if(cardStateService.isExist(product)){
                    <button class="btn btn-danger" title="add to card" (click)="addToCard(product)"><i class="pi pi-trash"></i></button>
                }@else{
                    <button class="btn btn-success" title="add to card" (click)="addToCard(product)"><i class="pi pi-plus"></i></button>
                }
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <a *ngIf="isAuthenticated" class="btn btn-success" [routerLink]="['/add-product']">Add New Product</a>

<button *ngIf="!isAuthenticated" class="btn btn-success" (click)="doLogin()">Login</button>

<p>{{ token}}</p>
<p>{{ isAdmin}}</p> -->